<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBL_g_m0es_aCgThr3L8BAh5bRnYGn9ZjI</string>
	<key>GCM_SENDER_ID</key>
	<string>906142628563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexmalaimare.practicebuddy</string>
	<key>PROJECT_ID</key>
	<string>practicebuddytracker</string>
	<key>STORAGE_BUCKET</key>
	<string>practicebuddytracker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906142628563:ios:1a0e1a0ce5158549323226</string>
</dict>
</plist>